@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900");
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto; }

.container-fluid {
  max-width: 1300px; }

.navbar-default {
  height: 150px;
  background-color: #87509c;
  margin: 0;
  border: none; }
  .navbar-default .container-fluid .navbar-header > a > img {
    margin: 50px; }
  .navbar-default .container-fluid .navbar-nav > li > a {
    color: #ffffff;
    margin-top: 6.5rem;
    margin-bottom: 0.8rem;
    padding: 10px 12px;
    margin-left: 1.5rem;
    margin-right: 1.7rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400; }
    .navbar-default .container-fluid .navbar-nav > li > a:hover {
      background-color: #643a79;
      border-radius: 5px; }

.jumbotron {
  color: #ffffff;
  background-color: #87509c;
  background-size: cover;
  margin: 0 auto;
  padding-top: 10rem;
  box-sizing: border-box; }
  .jumbotron p {
    line-height: 5rem;
    font-size: 4.5rem;
    font-weight: 600; }
  .jumbotron div button {
    background-color: #eb7d4b;
    color: #ffffff;
    text-transform: uppercase;
    width: 310px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
    border: 0;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 15px;
    -webkit-box-shadow: 0 4px 2px -2px #c86a40;
    -moz-box-shadow: 0 4px 2px -2px #c86a40;
    box-shadow: 0 4px 2px -2px #c86a40;
    font-weight: 400; }
    .jumbotron div button:hover {
      background-color: #c86a40; }

.offer {
  background-color: #17c2a4;
  color: #ffffff;
  padding: 40px 0 40px 0; }
  .offer h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 40px 0 0 20px;
    font-weight: 700;
    letter-spacing: 3px; }
  .offer h4 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 50px 35px 25px;
    margin: 0 50px 50px 25px; }
  .offer hr {
    background-color: #13a78d;
    width: 100px;
    height: 4px;
    border-top: none;
    margin: 10px auto; }
  .offer div {
    margin: 10px auto; }
    .offer div img {
      margin: 20px auto;
      height: 200px;
      width: 200px; }
    .offer div h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 25px auto;
      padding: 5px; }
    .offer div p {
      text-align: center;
      height: auto;
      width: 200px;
      margin: 15px auto;
      padding: 5px;
      font-size: 16px; }

.team {
  color: #3c4761;
  padding: 40px 0 40px 0;
  background-color: #e7f1f8; }
  .team h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 40px 0 0 20px;
    font-weight: 700;
    letter-spacing: 3px; }
  .team h4 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 50px 20px 50px;
    margin: 0 50px 50px 25px; }
  .team hr {
    background-color: #c7d9e5;
    width: 100px;
    height: 4px;
    border-top: none;
    margin: 10px auto; }
  .team div {
    margin: 10px auto; }
    .team div h3 {
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
      padding: 10px 25px 0px 25px;
      text-transform: uppercase; }
    .team div h4 {
      font-weight: 300;
      color: #30bae7;
      text-align: center;
      margin: 0 auto;
      padding: 0px 20px 35px 20px; }
    .team div img {
      margin: 20px auto;
      height: 200px;
      width: 200px; }
    .team div p {
      text-align: center;
      height: auto;
      width: 200px;
      margin: 0 auto;
      padding: 2px;
      font-size: 16px; }
    .team div div {
      margin: 20px auto;
      padding: 10px 0;
      text-align: center; }
      .team div div i {
        color: #ffffff;
        font-size: 28px;
        padding: 14px;
        border-radius: 50%;
        background-color: #bdd1df;
        width: 50px;
        height: 50px;
        margin: 3px; }

.skills {
  color: #3c4761;
  padding: 40px 0 40px 0;
  height: 550px; }
  .skills h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 40px 0 0 20px;
    font-weight: 700;
    letter-spacing: 3px; }
  .skills h4 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 50px 20px 50px;
    margin: 0 50px 50px 25px; }
  .skills hr {
    background-color: #dfe8ed;
    width: 100px;
    height: 4px;
    border-top: none;
    margin: 10px auto; }
  .skills div.row {
    margin: 0 auto; }
    .skills div.row div.wrapper {
      margin: 0 auto;
      text-align: center;
      padding-left: 90px; }
    .skills div.row h3 {
      width: 120px;
      height: 40px;
      text-align: center;
      padding: 20px;
      font-size: 22px;
      letter-spacing: 1px;
      font-weight: 700;
      text-transform: uppercase; }

.portfolio {
  color: #393939;
  padding: 40px 0 40px 0;
  background-color: #ffdd99; }
  .portfolio h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 40px 0 0 20px;
    font-weight: 700;
    letter-spacing: 3px; }
  .portfolio h4 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 50px 20px 50px;
    margin: 0 50px 50px 25px; }
  .portfolio hr {
    background-color: #e5c37f;
    width: 100px;
    height: 4px;
    border-top: none;
    margin: 10px auto; }
  .portfolio button {
    text-align: center;
    width: 80px;
    height: 40px;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background-color: #e5c37f;
    font-weight: 700;
    font-size: 16px; }
    .portfolio button:hover {
      background-color: #FFF1D6; }
  .portfolio div {
    text-align: center;
    margin: 10px auto; }
    .portfolio div h3 {
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 10px 50px 20px 50px;
      margin: 0 50px 50px 25px;
      font-size: 18px; }
    .portfolio div div > img {
      margin: 0 auto; }
  .portfolio :last-child > .btn {
    background-color: #17c2a4;
    color: #ffffff;
    text-transform: uppercase;
    width: 310px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
    border: 0;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 15px;
    -webkit-box-shadow: 0 4px 2px -2px #17c2a4;
    -moz-box-shadow: 0 4px 2px -2px #17c2a4;
    box-shadow: 0 4px 2px -2px #17c2a4;
    font-weight: 400;
    font-size: 18px; }
    .portfolio :last-child > .btn:hover {
      background-color: #39e4c6; }

.aboutUs {
  color: #ffffff;
  padding: 80px 0 80px 0;
  background-color: #d74680; }
  .aboutUs h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 40px 0 0 20px;
    font-weight: 700;
    letter-spacing: 3px; }
  .aboutUs h4 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 50px 20px 50px;
    margin: 0 50px 50px 25px; }
  .aboutUs hr {
    background-color: #b93c6e;
    width: 100px;
    height: 4px;
    border-top: none;
    margin: 10px auto; }
  .aboutUs > div {
    margin: 50px auto; }
    .aboutUs > div > div {
      margin: 20px auto; }
      .aboutUs > div > div > .description {
        margin: auto;
        width: 60%; }
        .aboutUs > div > div > .description > p {
          text-align: left;
          font-size: 22px;
          padding: 5px 5px 10px 5px; }
        .aboutUs > div > div > .description > h4 {
          text-align: left;
          margin: 0;
          padding: 5px 10px 0px 10px;
          font-size: 22px;
          font-weight: 700;
          text-transform: uppercase; }
        .aboutUs > div > div > .description > h6 {
          text-align: left;
          padding: 5px 10px 5px 10px;
          font-size: 18px;
          margin: 0;
          color: #f9c895; }
      .aboutUs > div > div > .photo {
        width: 40%; }
        .aboutUs > div > div > .photo > img {
          margin: 10px auto; }

.getInTouch {
  color: #ffffff;
  padding: 80px 0 80px 0;
  background-color: #3c5499; }
  .getInTouch h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 40px 0 0 20px;
    font-weight: 700;
    letter-spacing: 3px; }
  .getInTouch h4 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 50px 20px 50px;
    margin: 0 50px 50px 25px; }
  .getInTouch hr {
    background-color: #273a71;
    width: 100px;
    height: 4px;
    border-top: none;
    margin: 10px auto; }
  .getInTouch div {
    width: 1000px; }
    .getInTouch div > form input {
      width: 48%;
      background-color: #273a71;
      border: none;
      float: left;
      display: block;
      margin-bottom: 30px;
      height: 60px;
      color: #ffffff;
      padding: 15px;
      font-size: 18px;
      letter-spacing: 1px; }
    .getInTouch div > form input:first-of-type {
      margin-right: 4%; }
    .getInTouch div > form input::-webkit-input-placeholder {
      color: #ffffff;
      padding: 8px;
      font-size: 18px;
      letter-spacing: 1px; }
    .getInTouch div > form input:-moz-placeholder {
      color: #ffffff;
      padding: 8px;
      font-size: 18px;
      letter-spacing: 1px; }
    .getInTouch div > form input::-moz-placeholder {
      color: #ffffff;
      padding: 8px;
      font-size: 18px;
      letter-spacing: 1px; }
    .getInTouch div > form input::-ms-input-placeholder {
      color: #ffffff;
      padding: 8px;
      font-size: 18px;
      letter-spacing: 1px; }
    .getInTouch div > form textarea {
      background-color: #273a71;
      border: none;
      color: #ffffff;
      padding: 15px;
      font-size: 18px;
      letter-spacing: 1px; }
    .getInTouch div > form textarea::-webkit-input-placeholder {
      color: #ffffff;
      padding: 5px;
      font-size: 18px;
      letter-spacing: 1px; }
    .getInTouch div > form textarea:-moz-placeholder {
      color: #ffffff;
      padding: 5px;
      font-size: 18px;
      letter-spacing: 1px; }
    .getInTouch div > form textarea::-moz-placeholder {
      color: #ffffff;
      padding: 5px;
      font-size: 18px;
      letter-spacing: 1px; }
    .getInTouch div > form textarea:-ms-input-placeholder {
      color: #ffffff;
      padding: 5px;
      font-size: 18px;
      letter-spacing: 1px; }
  .getInTouch button[type="submit"] {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
    width: 300px;
    height: 65px;
    -webkit-box-shadow: 0 4px 2px -2px #29a0c7;
    -moz-box-shadow: 0 4px 2px -2px #29a0c7;
    box-shadow: 0 4px 2px -2px #29a0c7;
    background-color: #30bae7; }
    .getInTouch button[type="submit"]:hover {
      background-color: #20aad6;
      border: none; }

footer {
  background-color: #344b8e;
  text-align: center; }
  footer div.container-fluid {
    margin: 0 auto; }
    footer div.container-fluid > a {
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
      font-weight: 600;
      color: #ffffff;
      padding: 30px;
      margin: 20px auto;
      text-align: center;
      display: inline-block; }
      footer div.container-fluid > a:hover {
        cursor: pointer;
        color: #30bae7; }

/*# sourceMappingURL=style.css.map */