@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900");
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto; }

.container {
  width: 1100px; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  padding: 6.5rem 0.8rem;
  line-height: 4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 200; }

ul.navbar-right {
  margin-right: 25rem; }

.navbar > .container-fluid .navbar-brand {
  margin-left: 25rem; }

.navbar-default .navbar-brand {
  color: #ffffff;
  padding: 6.5rem 1rem;
  line-height: 4rem;
  font-size: 6rem;
  box-sizing: border-box;
  height: 15rem;
  font-weight: 700;
  font-style: italic;
  /*dobrac jakas inna czcionke*/ }

.navbar-default {
  height: 17rem;
  background-color: #87509c;
  margin: 0px; }

.jumbotron {
  height: 35rem;
  color: #ffffff;
  background-color: #87509c;
  margin: 0 auto;
  padding-top: 8rem;
  box-sizing: border-box; }
  .jumbotron p {
    line-height: 5rem;
    font-size: 3.5rem;
    font-weight: 700; }
  .jumbotron div button {
    background-color: #eb7d4b;
    color: #ffffff;
    text-transform: uppercase;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    border: 0;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 4px 2px -2px #c86a40; }
    .jumbotron div button:hover {
      background-color: #c86a40; }

.offer {
  background-color: #17c2a4;
  color: #ffffff;
  padding: 40px 0 40px 0; }
  .offer h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 40px 0 0 20px;
    font-weight: 700;
    letter-spacing: 3px; }
  .offer h4 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 50px 35px 25px;
    margin: 0 50px 50px 25px; }
  .offer hr {
    background-color: #13a78d;
    width: 100px;
    height: 4px;
    border-top: none;
    margin: 10px auto; }
  .offer div {
    margin: 10px auto; }
    .offer div img {
      margin: 20px auto;
      height: 200px;
      width: 200px; }
    .offer div h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 25px auto;
      padding: 5px; }
    .offer div p {
      text-align: center;
      height: auto;
      width: 200px;
      margin: 15px auto;
      padding: 5px;
      font-size: 16px; }

.team {
  color: #3c4761;
  padding: 40px 0 40px 0;
  background-color: #e7f1f8; }
  .team h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 40px 0 0 20px;
    font-weight: 700;
    letter-spacing: 3px; }
  .team h4 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 50px 20px 50px;
    margin: 0 50px 50px 25px; }
  .team hr {
    background-color: #c7d9e5;
    width: 100px;
    height: 4px;
    border-top: none;
    margin: 10px auto; }
  .team div {
    margin: 10px auto; }
    .team div h3 {
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
      padding: 10px 25px 0px 25px;
      text-transform: uppercase; }
    .team div h4 {
      font-weight: 300;
      color: #30bae7;
      text-align: center;
      margin: 0 auto;
      padding: 0px 20px 35px 20px; }
    .team div img {
      margin: 20px auto;
      height: 200px;
      width: 200px; }
    .team div p {
      text-align: center;
      height: auto;
      width: 200px;
      margin: 0 auto;
      padding: 2px;
      font-size: 16px; }
    .team div div {
      margin: 20px auto;
      padding: 10px 0;
      text-align: center; }
      .team div div i {
        color: #ffffff;
        font-size: 28px;
        padding: 14px;
        border-radius: 50%;
        background-color: #bdd1df;
        width: 50px;
        height: 50px;
        margin: 3px; }

.skills {
  color: #3c4761;
  padding: 40px 0 40px 0;
  height: 550px; }
  .skills h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 40px 0 0 20px;
    font-weight: 700;
    letter-spacing: 3px; }
  .skills h4 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 50px 20px 50px;
    margin: 0 50px 50px 25px; }
  .skills hr {
    background-color: #dfe8ed;
    width: 100px;
    height: 4px;
    border-top: none;
    margin: 10px auto; }
  .skills div div p {
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase; }
  .skills div div h4 {
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase; }

.portfolio {
  color: #393939;
  padding: 40px 0 40px 0;
  background-color: #ffdd99;
  height: 1600px; }
  .portfolio h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 40px 0 0 20px;
    font-weight: 700;
    letter-spacing: 3px; }
  .portfolio h4 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 50px 20px 50px;
    margin: 0 50px 50px 25px; }
  .portfolio hr {
    background-color: #e5c37f;
    width: 100px;
    height: 4px;
    border-top: none;
    margin: 10px auto; }
  .portfolio button {
    text-align: center;
    width: 80px;
    height: 40px;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background-color: #e5c37f;
    font-weight: 700;
    font-size: 16px; }
    .portfolio button:hover {
      background-color: #FFF1D6; }
  .portfolio div {
    text-align: center;
    margin: 10px auto; }
    .portfolio div h3 {
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 10px 50px 20px 50px;
      margin: 0 50px 50px 25px;
      font-size: 22px; }
  .portfolio :last-child > .btn {
    width: 300px;
    height: 65px;
    -webkit-box-shadow: 0px 7px 3px 0px #13a78d;
    -moz-box-shadow: 0px 7px 3px 0px #13a78d;
    box-shadow: 0px 7px 3px 0px #13a78d;
    background-color: #17c2a4; }

/*# sourceMappingURL=style.css.map */